{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Galery
{% endblock %}

{% block body %}
	<h1 class='text-center h1-galery'>Galerie</h1>
	<div class='grid-galery'>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart1.jpeg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart2.jpg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart3.jpg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart4.png') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart5.jpg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart6.jpg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart15.jpeg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
		<div class='card-galery'>
			<div>
				<img src="{{ asset('build/images/streetart8.jpg') }}" alt="">
				<p>localisation.ville</p>
			</div>
		</div>
	</div>
{% endblock %}
