{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Galery
{% endblock %}

{% block body %}
    <h1 class='text-center h1-galery'>Galerie</h1>
    <div class='grid-galery'>
        <div class='card-galery'>
            <div>
                <img src="{{ asset('build/images/Vincent.png') }}" alt="">
                <p>localisation.ville</p>
            </div>
        </div>
        <div class='card-galery'>
            <div>
                <img src="{{ asset('build/images/Vincent.png') }}" alt="">
                <p>localisation.ville</p>
            </div>
        </div>
        <div class='card-galery'>
            <div>
                <img src="{{ asset('build/images/Vincent.png') }}" alt="">
                <p>localisation.ville</p>
            </div>
        </div>
        <div class='card-galery'>
            <div>
                <img src="{{ asset('build/images/Vincent.png') }}" alt="">
                <p>localisation.ville</p>
            </div>
        </div>
    </div>
{% endblock %}