{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Inscription
{% endblock %}

{% block body %}
	<main class='register_form'>
		<h1 class='h1-register'>Inscription</h1>

		<div class='label_register_form'>
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class='lastname_register_form'>
				{{ form_row(registrationForm.lastname, { 'label':false }) }}
			</div>
			<div class='firstname_register_form'>
				{{ form_row(registrationForm.firstname, { 'label':false }) }}
			</div>
			<div class='username_register_form'>
				{{ form_row(registrationForm.username, { 'label':false }) }}
			</div>
			<div class='email_register_form'>
				{{ form_row(registrationForm.email, { 'label':false }) }}
			</div>
			<div class='password_register_form'>
				{{ form_row(registrationForm.password, { 'label':false }) }}
			</div>
			<div>
				<button type="submit" class="btn_register_form">
					Here we go!
				</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
		<p class="cgu_register">En cliquant sur "Here we go!", vous acceptez les CGU et déclarez avoir pris connaissance de la politique de protection des données du site StreeArtHunter.</p>
	</main>
{% endblock %}
